<%= form_with model: @customer, url: public_customers_update_path, method: :patch do |f| %>
  <h4>タイトル</h4>
　　
　<table class='table'>
  <tr>
	  <th>氏名</th>
	  <td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
  </tr>
   <tr>
	  <th>フリガナ</th>
	  <td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
  </tr>
  <tr>
	  <th>郵便番号</th>
	  <td> <%= f.text_area :postal_code %></td>
  </tr>
  <tr>
	  <th>住所</th>
	  <td> <%= f.text_area :address %></td>
  </tr>
  <tr>
	  <th>電話番号</th>
	  <td> <%= f.text_area :telephone_number %></td>
  </tr>
  <tr>
	  <th>メールアドレス</th>
	  <td><%= f.email_field :email%></td>
  </tr>
</table>

  <%= f.submit '編集内容を保存', class: "btn btn-success btn-sm px-5"  %>
   <%= link_to "退会する", public_customers_unsubscribe_path, class: "btn btn-danger btn-sm px-4" %>
<% end %>