<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">商品新規登録画面</h5>
      <div class="form-body p-4">
          <%= form_with model: @image_path do |f| %>
商品画像 <%= f.file_field :image, accept: "image/*", class: "w-100", size: "200x200" %><% end %>
<%= form_with model: @item,url:admin_items_path, method: :post do |f| %>
  <p>商品名<%= f.text_field :name %></p>
  <p> 商品説明<%= f.text_area :introduction %></p>
  <p> <%= f.label :genre_id, 'ジャンル' %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %></p>
  <p>税抜価格<%= f.text_field :price %></p>
  <p><%= f.label :is_active, '販売中' %>
      <%= f.radio_button :is_active, true %>
      <%= f.label :is_active, '販売停止中' %>
      <%= f.radio_button :is_active, false %></p>
    <p><%= f.submit "新規登録" %></p>
<% end %>

      </div>
    </div>
  </div>
</div>